<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">recipeTitle</th>
                    <th scope="col">description</th>
                    <th scope="col">preparedBy</th>
                    <th scope="col">category</th>
                    <th scope="col">postedDate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewData">
                    <td>{{i.recipeTitle}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.preparedBy}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.postedDate}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
